Question 1 :

Assuming that we have some email addresses in the "username@companyname.com" format, please
write a program to print the company name of a given email address. Both user names and company
names are composed of letters only.
Input Format:
The first line of the input contains an email address.
Output Format:
Print the company name in a single line.
Example;
Input:
john@google.com
Output:
google.

In [10]:
a=input("enter your email address:")

x =a.find("@")
y=a.find(".")
z = print(a[x+1:y])

enter your email address:letsupgrade@support.com
support

Question 2 :

Write a program that accepts a comma-separated sequence of words as input and prints the words in a
comma-separated sequence after sorting them alphabetically.
Input Format:
The first line of input contains words separated by the comma.
Output Format:
Print the sorted words separated by the comma.
Example:
Input:
without,hello,bag,world
Output:
bag,hello,without,world

In [7]:
str1= input("enter a comma-seperated sequence of words:")

a=str1.split(",")
print(a)
b= sorted(a)
print(b)

c=",".join(b)
print(c)

enter a comma-seperated sequence of words:horse,mamoth,elephant,ant
['horse', 'mamoth', 'elephant', 'ant']
['ant', 'elephant', 'horse', 'mamoth']
ant,elephant,horse,mamoth

Question 3:

Create your own Notebook for Sets.

In [23]:
set1={'apple',1,2,3,22.7}


set1.add("orange")
print(set1)

set1.update(["hello","bear"])
print(set1)

print(len(set1))

set1.remove("hello")
print(set1)

set1.pop()
print(set1)

set2={5,6,7}
set3= set1.union(set2)
print(set3)

{'apple', 2, 3, 1, 'orange', 22.7}
{'apple', 2, 3, 1, 'orange', 'hello', 22.7, 'bear'}
8
{'apple', 2, 3, 1, 'orange', 22.7, 'bear'}
{2, 3, 1, 'orange', 22.7, 'bear'}
{1, 2, 3, 'orange', 5, 22.7, 6, 7, 'bear'}

Question 4:

Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no
duplicates.
Input Format:
The first line contains n-1 numbers with each number separated by a space.
Output Format:
Print the missing number

In [30]:
a="1 2 4 5 7 8 9"
b=a.split()
b=[int(i) for i in b]
print(b)
for i in range(len(b)-1):
  if b[i+1]-b[i]!=1:
    x=(b[i]+b[i+1])//2
    print(x)

[1, 2, 4, 5, 7, 8, 9]
3
6

Question 5:

With a given list L, write a program to print this list L after removing all duplicate values with original order
reserved.
Example:
If the input list is
12 24 35 24 88 120 155 88 120 155
Then the output should be
12 24 35 88 120 155

In [38]:
l=[12,24,35,24,88,120,155,88,120,155]
print(l)
a=set(l)
print(a)
b=sorted(a)
print(b)

[12, 24, 35, 24, 88, 120, 155, 88, 120, 155]
{35, 12, 155, 24, 88, 120}
[12, 24, 35, 88, 120, 155]